.header
  .container
    .row.vertical-center
      .col-4.col-md-6
        a.logo.anim(href="#")
          +icon('logo')
      .col-8.col-md-6
        .header__right
          button.hamburger(type="button")
            .hamburger-box
              span.hamburger-inner
          .main-menu
            ul.main-menu-nav.anim
              li
                a(href="#") Home
              li
                a(href="#") About
              li
                a(href="#") Work
              li
                a(href="#") Contact
            