section.hero
  .container
    .row
      .col-12
        .hero__body
          .hero__text
            h1.anim
              |Work without fatigue
            span.anim
              |There are many variations of passages of Lorem Iplusm available, but the majority suffered alteration in some form
            .hero__action.anim
              a.btn.btn--small.btn--margin(href="#") Read more
          .hero__bg.anim
            img(src="assets/images/icons/bg.svg", alt="")
          .hero__bg-lamp.anim
            |<svg width="271" height="255" viewBox="0 0 271 255" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M139.113 34.865C182.337 36.7537 216.8 72.3622 216.8 116.013H54.2C54.2 72.3622 88.6625 36.7537 131.887 34.865L131.887 -28.3899C131.887 -30.3837 133.504 -32 135.5 -32C137.496 -32 139.113 -30.3837 139.113 -28.3899V34.865H139.113Z" fill="#1F1845"/> <path d="M139.113 34.865C182.337 36.7537 216.8 72.3622 216.8 116.013H54.2C54.2 72.3622 88.6625 36.7537 131.887 34.865L131.887 -28.3899C131.887 -30.3837 133.504 -32 135.5 -32C137.496 -32 139.113 -30.3837 139.113 -28.3899V34.865H139.113Z" fill="url(#paint0_linear)"/> <path opacity="0.8" id="s-light" fill-rule="evenodd" clip-rule="evenodd" d="M54.1916 116.013H216.774L271 255H0L54.1916 116.013Z" fill="url(#paint1_linear)"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M108.4 116.013C108.4 130.966 120.533 143.088 135.5 143.088C150.467 143.088 162.6 130.966 162.6 116.013H108.4Z" fill="white"/> <defs> <linearGradient id="paint0_linear" x1="135.5" y1="-32" x2="135.5" y2="116.013" gradientUnits="userSpaceOnUse"> <stop stop-color="#1F1845" stop-opacity="0"/> <stop offset="1" stop-opacity="0.1"/> </linearGradient> <linearGradient id="paint1_linear" x1="135.5" y1="116.013" x2="135.5" y2="255" gradientUnits="userSpaceOnUse"> <stop stop-color="#F8DF6B"/> <stop offset="1" stop-color="#FAE78E" stop-opacity="0"/> </linearGradient> </defs> </svg>
          .hero__bg-flowers.anim
            img(src="assets/images/icons/flowers.svg", alt="")
          .hero__bg-man.anim
            img(src="assets/images/icons/man.svg", alt="")
