.anim
  opacity: 0
.anim-in
  .wrapper
    animation-fill-mode: both
    animation-duration: 1s
    animation-delay: 0.5s
    animation-name: fadeIn
  .preloader
    opacity: 0
  
  .logo
    animation-fill-mode: both
    animation-duration: 0.8s
    animation-delay: 1s
    animation-name: fadeInUp
  .main-menu-nav
    animation-fill-mode: both
    animation-duration: 0.8s
    animation-delay: 1.2s
    animation-name: fadeInUp
  .hero
    &__text
      h1
        animation-fill-mode: both
        animation-duration: 0.8s
        animation-delay: 1.4s
        animation-name: fadeInUp
      span
        animation-fill-mode: both
        animation-duration: 0.8s
        animation-delay: 1.6s
        animation-name: fadeInUp
    &__action
      animation-fill-mode: both
      animation-duration: 0.8s
      animation-delay: 1.8s
      animation-name: fadeInUp
    &__bg
      animation-fill-mode: both
      animation-duration: 1.4s
      animation-delay: 2s
      animation-name: fadeIn
    &__bg-man
      animation-fill-mode: both
      animation-duration: 1.2s
      animation-delay: 2.6s
      animation-name: fadeInRight
    &__bg-flowers
      animation-fill-mode: both
      animation-duration: 1.2s
      animation-delay: 2.8s
      animation-name: fadeInLeft
    &__bg-lamp
      animation-fill-mode: both
      animation-duration: 1.2s
      animation-delay: 3.5s
      animation-name: fadeInDown
    &__bg-lamp
      #s-light
        animation-fill-mode: both
        animation-duration: 0.5s
        animation-delay: 6s
        animation-name: fadeIn
