@media screen and (max-width: 1120px)
  .container
    padding: 0 15px

@media screen and (max-height: 790px)
  .hero
    &__bg
      width: 900px
    &__bg-man
      width: 400px
      right: -90px
      bottom: -45px
    &__bg-flowers
      right: 225px
      bottom: 0
      width: 210px
    &__bg-lamp
      width: 180px
      margin-left: -200px

@media screen and (max-width: 1024px)
  .header
    padding-top: 35px
  .main-menu-nav
    li
      a
        font-size: 20px
  .hero
    &__text
      margin-top: -100px
    &__bg
      width: 900px
    &__bg-man
      width: 400px
      right: -90px
      bottom: -45px
    &__bg-flowers
      right: 225px
      bottom: 0
      width: 210px
    &__bg-lamp
      width: 180px
      margin-left: -200px
      svg
        width: 100%
        height: auto

@media screen and (max-width: 767px)
  .container
    padding: 0 10px
  .header
    padding-top: 20px
  .hamburger
    display: block
  .main-menu
    position: absolute
    top: 50px
    left: 0
    width: 100%
    display: block
    padding: 20px 25px
    box-sizing: border-box
    background: $color-PersianBlue
    visibility: hidden
    opacity: 0
    z-index: 300
    +transition(0.3s ease-in-out)
    &.is-open
      top: 80px
      visibility: visible
      opacity: 1
  .main-menu-nav
    display: block
    li
      width: 100%
      margin: 20px 0
      a
        color: $color-White
        +transition(0s ease-in-out)
  .hero
    min-height: 100vh
    max-height: unset
    &__text
      margin-top: 0
      h1
        font-size: 38px
        line-height: 48px
      span
        font-size: 18px
        line-height: 26px
    &__body
      height: auto
      max-height: unset
      min-height: auto
      align-items: flex-start
      padding-top: 120px
      padding-bottom: 400px
    &__bg
      width: 600px
      bottom: -30px
      right: -140px
    &__bg-man
      width: 300px
      right: -40px
      bottom: 0px
    &__bg-flowers
      right: 195px
      bottom: 37px
      width: 160px
    &__bg-lamp
      width: 100px
      margin-left: -10px
