@font-face {
  font-family: 'PulFamily_Regular';
  src: url(../fonts/Pul_Family/Regular/PulpDisplay-Regular.eot);
  src: url(../fonts/Pul_Family/Regular/PulpDisplay-Regular.eot?#iefix) format("embedded-opentype"),
      url(../fonts/Pul_Family/Regular/PulpDisplay-Regular.woff) format("woff"),
      url(../fonts/Pul_Family/Regular/PulpDisplay-Regular.woff2) format("woff2"),
      url(../fonts/Pul_Family/Regular/PulpDisplay-Regular.otf) format("opentype"),
      url(../fonts/Pul_Family/Regular/PulpDisplay-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400
}
@font-face {
  font-family: 'PulFamily_Bold';
  src: url(../fonts/Pul_Family/Bold/PulpDisplay-Bold.eot);
  src: url(../fonts/Pul_Family/Bold/PulpDisplay-Bold.eot?#iefix) format("embedded-opentype"),
      url(../fonts/Pul_Family/Bold/PulpDisplay-Bold.woff) format("woff"),
      url(../fonts/Pul_Family/Bold/PulpDisplay-Bold.woff2) format("woff2"),
      url(../fonts/Pul_Family/Bold/PulpDisplay-Bold.otf) format("opentype"),
      url(../fonts/Pul_Family/Bold/PulpDisplay-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 400
}
