$icons: (
	sprite: (width: 70px, height: 42px, svgPath: '../images/icons/sprite-bg.svg'),
    arrow-bottom: (width: 11px, height: 6px, backgroundX: 0px, backgroundY: -26px),
    checked: (width: 11px, height: 8px, backgroundX: -49px, backgroundY: 0px),
    edit: (width: 13px, height: 12px, backgroundX: -26px, backgroundY: 0px),
    search: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: 0px),
);