.btn
  position: relative
  top: 0px
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box
  max-width: 220px
  height: 48px
  padding: 0 15px
  background: linear-gradient(180deg, #3C50DF 0%, #1330DA 100%)
  border-radius: 40px
  font-size: 16px
  color: $color-White
  +transition(0.2s ease-in-out)
  &:hover
    top: -3px
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25)
  &--small
    max-width: 150px
  &--margin
    margin-top: 30px
