.hero
  position: relative
  max-height: 100vh
  overflow: hidden
  min-height: 680px
  &__body
    position: relative
    display: flex
    align-items: center
    height: 100vh
    max-height: 1200px
    min-height: 600px
  &__text
    position: relative
    max-width: 380px
    z-index: 70
    h1
      margin: 0 0 30px
      font-family: $font-bold
      font-size: 54px
      line-height: 68px
    span
      display: block
      font-size: 20px
      line-height: 30px
      color: $color-Waterloo
  &__bg, &__bg-lamp, &__bg-flowers, &__bg-man
    position: absolute
  &__bg
    bottom: -100px
    right: -240px
    z-index: 10
  &__bg-lamp
    top: 0px
    left: 50%
    margin-left: -180px
    z-index: 40
    #s-light
      opacity: 0
  &__bg-man
    right: -140px
    bottom: -60px
    z-index: 30
  &__bg-flowers
    right: 240px
    bottom: 0px
    z-index: 20

