.main-menu-nav
  display: flex
  justify-content: flex-end
  list-style: none
  margin: 0
  padding: 0
  li
    margin-right: 33px
    &:last-child
      margin-right: 0
    a
      position: relative
      top: 0
      font-family: $font-bold
      font-size: 22px
      color: $color-BayMany
      &:hover
        top: -2px
        opacity: 0.7

