.preloader
  position: fixed
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  z-index: 10
  +transition(0.3s ease-in-out)
  svg
    margin-left: 50px
    width: 150px
    height: 150px
    fill: #a8afd8
